<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>OnlineTransportSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DriverServlet</display-name>
    <servlet-name>DriverServlet</servlet-name>
    <servlet-class>com.driverVehicle.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverServlet</servlet-name>
    <url-pattern>/DriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverRetrive</display-name>
    <servlet-name>DriverRetrive</servlet-name>
    <servlet-class>com.driverVehicle.DriverRetrive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverRetrive</servlet-name>
    <url-pattern>/DriverRetrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingInsert</display-name>
    <servlet-name>BookingInsert</servlet-name>
    <servlet-class>com.vehicleBooking.BookingInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingInsert</servlet-name>
    <url-pattern>/BookingInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverLoginController</display-name>
    <servlet-name>DriverLoginController</servlet-name>
    <servlet-class>com.driver.DriverLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverLoginController</servlet-name>
    <url-pattern>/DriverLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverLogoutControl</display-name>
    <servlet-name>DriverLogoutControl</servlet-name>
    <servlet-class>com.driver.DriverLogoutControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverLogoutControl</servlet-name>
    <url-pattern>/DriverLogoutControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackInsertController</display-name>
    <servlet-name>FeedbackInsertController</servlet-name>
    <servlet-class>com.feedback.FeedbackInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackInsertController</servlet-name>
    <url-pattern>/FeedbackInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addPaymentServlet</servlet-name>
    <servlet-class>payment.addPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPaymentServlet</servlet-name>
    <url-pattern>/addPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatePayment</servlet-name>
    <servlet-class>payment.updatePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePayment</servlet-name>
    <url-pattern>/updatePaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletePayment</servlet-name>
    <servlet-class>payment.deletePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePayment</servlet-name>
    <url-pattern>/deletePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewPayments</servlet-name>
    <servlet-class>payment.ViewPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPayments</servlet-name>
    <url-pattern>/viewPayments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverVehicleUpdateServlet</display-name>
    <servlet-name>DriverVehicleUpdateServlet</servlet-name>
    <servlet-class>com.driverVehicle.DriverVehicleUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverVehicleUpdateServlet</servlet-name>
    <url-pattern>/DriverVehicleUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverVehicleDelete</display-name>
    <servlet-name>DriverVehicleDelete</servlet-name>
    <servlet-class>com.driverVehicle.DriverVehicleDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverVehicleDelete</servlet-name>
    <url-pattern>/DriverVehicleDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackUpdate</display-name>
    <servlet-name>FeedbackUpdate</servlet-name>
    <servlet-class>com.feedback.FeedbackUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackUpdate</servlet-name>
    <url-pattern>/FeedbackUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackDelete</display-name>
    <servlet-name>FeedbackDelete</servlet-name>
    <servlet-class>com.feedback.FeedbackDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackDelete</servlet-name>
    <url-pattern>/FeedbackDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DriverRegInsert</display-name>
    <servlet-name>DriverRegInsert</servlet-name>
    <servlet-class>com.driver.DriverRegInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverRegInsert</servlet-name>
    <url-pattern>/DriverRegInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInsert</display-name>
    <servlet-name>UserInsert</servlet-name>
    <servlet-class>com.user.UserInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInsert</servlet-name>
    <url-pattern>/UserInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdate</display-name>
    <servlet-name>UserUpdate</servlet-name>
    <servlet-class>com.user.UserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdate</servlet-name>
    <url-pattern>/UserUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDelete</display-name>
    <servlet-name>UserDelete</servlet-name>
    <servlet-class>com.user.UserDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDelete</servlet-name>
    <url-pattern>/UserDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginValidate</display-name>
    <servlet-name>UserLoginValidate</servlet-name>
    <servlet-class>com.user.UserLoginValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginValidate</servlet-name>
    <url-pattern>/UserLoginValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBooking</display-name>
    <servlet-name>ViewBooking</servlet-name>
    <servlet-class>com.vehicleBooking.ViewBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBooking</servlet-name>
    <url-pattern>/ViewBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutServlet</display-name>
    <servlet-name>UserLogoutServlet</servlet-name>
    <servlet-class>com.user.UserLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutServlet</servlet-name>
    <url-pattern>/UserLogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>