@charset "ISO-8859-1";

.feedbackBox{
	margin: 30px 30% 50px 30%;
	box-shadow: 3px 5px 5px 3px rgba(0,0,0,0.15);
	border-radius: 15px;
	padding:20px;
	align-items: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feedbackBox form{
	padding: 0 40px 40px 40px;
	box-sizing: border-box;
}
h1{
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 1%;
}
.feedbackbtn{
	width: 150px;
	height: 50px;
	background: black;
	color: white;
	border: none;
	border-radius: 25px;
	margin-top: 5px;
}
.feedbackbtn:hover{
	cursor: pointer;
	background: darkblue;
}
textarea{
	max-width: 100%;
}
form .textsec{
	width: 100%;
}
