@charset "ISO-8859-1";

*{
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}

nav{
	background: black;
	height: 80px;
	width: 100%;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	margin: 0 10px;
	line-height: 80px;

}
li button{
	border: none;
}
nav ul li a{
 	text-decoration: none;
	color: white;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}
.logo{
	display: inline-block;
	margin: 0 10px;
	line-height: 50px;
	padding: 15px 20px;
	color: white;
	font-size: 26px;
	font-weight: bold;
	font-family: sans-serif;
	cursor: pointer;
}
.control{
	background-color: white;
	padding: 12px 25px;
	margin-right: 0px;
	color: black;
	font-weight: 500;
	font-size: 19px;
	border-radius: 35px;
}
.control:hover{
	background: azure;
	transition: 0.5s;
}
i{
	color: white;
	
}
.checkbtn{
	float: right;
	line-height: 80px;
	margin-right: 40px;
	font-size: 30px;
	display: none;
	
}
#check{
	display: none;
}

@media (max-width: 894px){
	nav ul li a{
		font-size: 16px;
	}
	.logo{
		font-size: 25px;
	
	}
	.control{
		
		font-size: 16px;
	}
}
@media (max-width: 820px){
	.checkbtn{
		display: block;
	}
	
	ul{
		position: fixed;
		background: darkgray;
		height: 100vh;
		width: 100%;
		left: -100%;
		text-align: center;
		top: 80px;
		transition: all .5s;
	}
	nav ul li{
		display: block;
	}
	.control{
		background: none;
	}
	#check:checked ~ul{
		left: 0;
	}
}

footer{
	background-color: black;
	color: #fefefe;
	position: unset;
 	width: 100%;
 	bottom: 0;
 	left: 0;
}
.footerheading{
	color: #fefefe;
	max-width: 1010px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content{
	display: flex;
	justify-content: space-evenly;
	margin: 30px 30px 45px 30px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: 0;

}
.content p {
  margin-bottom: 10px;
}
.content a {
  text-decoration: none;
  color: #fefefe;
}
.content h4 {
  margin-bottom: 23px;
  font-size: 20px;
}
.services{
		margin-bottom: 30px;
	}
.socialMedia{
	margin-bottom: 30px;
}
.about{
	margin-bottom: 30px;
}
.copyright{
	text-align: center;
  	margin-top: 0;
		margin-bottom: 0;
}
.copyright hr{
	margin-bottom: 5px;
	height: 1px;
	border: none;
	background-color: white;
}
@media (max-width: 820px){
	.content{
		font-size: 12px;
		display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
    
	}
	.footerheading h2{
		font-size: 20px;
	}
	
	footer{
		position: unset;
	}
	.copyright{
		margin-top: 0;
		margin-bottom: 0;
	}
}